/* Root layout styling */
.root-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Main layout styling */
.hr-main-layout {
  display: flex;
  flex-direction: row;
}

/* HR main content styling */
.hr-main-content {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 5px;
  min-height: 100vh;
  overflow-x: hidden;
}

.hr-summary-card {
  border-radius: 8px;
  overflow-y: scroll;
  padding: 1.5rem;
  height: 100vh;
  flex: 1;
  overflow-y: auto;
  /* Enable scrolling */
  padding: 20px;
  scrollbar-width: none;
  /* Hide scrollbar for Firefox */
  -ms-overflow-style: none;
  /* Hide scrollbar for IE and Edge */
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.hr-summary-card::-webkit-scrollbar {
  display: none;
}

/* Form layout styling */
.hr-form-layout {
  width: 20%;
  background-color: #f4f4f4;
  border-right: 1px solid #ccc;
  padding: 1rem;
  box-sizing: border-box;
  /* margin-right: 2%;   */
}

.form-container {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.form-container::-webkit-scrollbar {
  display: none;
}

/* Responsive styles */
@media (max-width: 768px) {
  .hr-main-content {
    flex-direction: column;
  }

  .hr-form-layout {
    width: 100%;
  }

  .hr-main-content {
    padding: 10px;
    width: 100%;
    overflow: hidden;
  }
}

@media (max-width: 480px) {
  .hr-main-content {
    padding: 5px;
  }

  .form-container {
    padding: 10px;
  }

  .hr-form-layout {
    width: 100%;
  }
}