.welcome-card {
  display: flex;
  flex-direction: column;
}

.welcome-content {
  display: flex;
  flex-direction: column;
}

.welcome-day {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: -1.5rem;
  color: #82cbc8;
}

.welcome-date {
  font-size: 3.75rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.welcome-greeting {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.welcome-message {
  color: #82cbc8;
  font-size: 24px;
}

.welcome-image {
  margin-top: 1rem;
  width: 40%;
  height: 100%;
}

@media (min-width: 768px) {
  .welcome-card {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .welcome-image {
    margin-top: 0;

  }
}
@media (max-width: 480px) {
  .welcome-image {
    margin-top: 0;
    width: 100%;
    height: 100%;

  }
}
